header{
  color: white;
}



body {
  text-align: center;
  background-image: url("./images/Death_star.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: yellow;
}


img {
  width: 20%;
  border-radius: 10px;
}

#location {
  display: none;
}

div p{
  width: 70%;
  margin: 0 auto;
}

a{
  display: block;
  color: teal;
}

@media only screen and (min-width: 321px){
    #location {
        display: block;
      }
