body {
  background-color: red;
  text-align: center;
}

img {
  width: 40%;
}

#location {
  display: none;
}

div p{
  width: 70%
  margin: 0 auto;
}

a{
  display: block;

}

@media only screen and (max-width: 768px)
    #location {
        display: block;
      }
}

img {
  width: 20%;
  }
}
