body {
  background-image: url("./images/Death_star.png");
  text-align: center;
}

img {
  width: 20%;
  border-radius: 10px;
}

#location {
  display: none;
}

div p{
  width: 70%;
  margin: 0 auto;
}

a{
  display: block;

}

@media only screen and (min-width: 321px){
    #location {
        display: block;
      }
